// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  z-index: -1;



  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: center top no-repeat;

    @include filter(blur(20px));
  }
}

.hidden {
	display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

/* HEADER ----------------- */

header {
  padding: 25px 0;
  clear: both;
  overflow: hidden;

  h1 {
    float: left;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 300;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }

  li {
    float: left;
    margin-left: 15px;
    list-style: none;
  }

  a {
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    background: rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 0 10px;
    @include transition(all 0.2s);

    &:hover {
      background: rgba(0, 0, 0, .5);
      color: rgba(255, 255, 255, 1);
    }
  }
}

/* PAINTINGS */

.painting {
  border: 1px solid #333;
  box-shadow: 1px 1px 4px rgba(0,0,0, .4);
  margin-bottom: 50px;

  .info {
    background: #fff;
    padding: 15px;
    clear: both;
    overflow: hidden;

    h2 {
      text-align: center;
      font-size: 40px;
      line-height: 55px;
      margin: 0 0 15px;
      padding: 0 0 15px;
      font-weight: 300;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .author {
      float: left;
      width: 40%;
      line-height: 100px;

      img {
        float: left;
        margin-right: 15px;
      }

      a {
        font-size: 30px;
        line-height: 100px;
        text-decoration: none;
        color: #333;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      float: left;
      width: 50%;

      li {
        list-style: none;
        width: 50%;
        float: left;
        line-height: 33px;

        label {
          font-weight: 400;
          display: inline-block;
          width: 30%;
          padding-right: 10px;
          text-align: right;
        }
      }
    }

    .more-info {
      display: inline-block;
      @include transform(rotate(-90deg));
      @include transition(color 0.2s, background 0.2s);
      height: 10%;
      width: 95px;
      position: relative;
      top: 25px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      background: #f0f0f0;
      color: #999;

      &:hover {
        background: #e3e3e3;
        color: #333;
      }
    }

  }
}

.grid {

  .painting {
    width: 48%;
    float: left;

    &:nth-child(odd) {
      margin-right: 2%;
    }

    &:nth-child(even) {
      margin-left: 2%;
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
    }

    .author {
      float: left;
      width: 40%;
      line-height: 22px;

      img {
        float: left;
        margin-right: 10px;
      }

      a {
        font-size: 18px;
        line-height: 22px;
      }
    }

    ul {
      float: left;
      width: 50%;

      li {
        width: auto;
        float: none;
        line-height: 25px;

        label {
          font-weight: 400;
          display: inline-block;
          width: 30%;
          padding-right: 10px;
          text-align: right;
        }
      }
    }

    .more-info {
      height: 10%;
      width: 60px;
      top: 7px;
      line-height: 36px;
      margin-left: -17px;
    }

  }
}


