
  <div class="background"><div class="image" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/2/28/The_Nightwatch_by_Rembrandt.jpg')"></div></div>

  <header class="wrap">

    <h1>Paintings</h1>

    <ul class="main-menu">
      <li><a href="#/">Home</a></li>
      <li><a href="#/artists">Artists</a></li>
      <li><a href="#/all">Paintings</a></li>
      <li><a href="#/more">More</a></li>
    </ul>
  </header>


  <div class="wrap">

    <div class="painting">
      <img class="painting-img" src="http://upload.wikimedia.org/wikipedia/commons/2/28/The_Nightwatch_by_Rembrandt.jpg" width="100%">
      <div class="info">
        <h2>The Night Watch</h2>
        <div class="author">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Rembrandt_van_Rijn_-_Self-Portrait_-_Google_Art_Project.jpg/790px-Rembrandt_van_Rijn_-_Self-Portrait_-_Google_Art_Project.jpg" height="100" />
          <a href="#/rembrandt" class="name">Rembrandt</a>
        </div>
        <ul>
          <li>
            <label>Location</label>
            Rijksmuseum
          </li>
          <li>
            <label>Period</label>
            Dutch Golden Age
          </li>
          <li>
            <label>Created</label>
            1642
          </li>
          <li>
            <label>Genre</label>
            Portrait
          </li>
          <li>
            <label>Type</label>
            Oil on canvas
          </li>
        </ul>
        <a href="#/rembrandt/the-night-watch" class="more-info">more info</a>
      </div>
    </div>

    <div class="grid">
      <div class="painting small">
        <img class="painting-img" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Vermeer_-_Diana_and_Her_Companions.jpg/522px-Vermeer_-_Diana_and_Her_Companions.jpg" width="100%">
        <div class="info">
          <h2>Diana and Her Companions</h2>
          <div class="author">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Cropped_version_of_Jan_Vermeer_van_Delft_002.jpg/431px-Cropped_version_of_Jan_Vermeer_van_Delft_002.jpg" height="50" />
            <a href="#/johannes-vermeer" class="name">Johannes Vermeer</a>
          </div>
          <ul>
            <li>
              <label>Created</label>
              1655–1656
            </li>
            <li>
              <label>Type</label>
              Oil on canvas
            </li>
          </ul>
          <a href="#/rembrandt/the-night-watch" class="more-info">more</a>
        </div>
      </div>

      <div class="painting small">
        <img class="painting-img" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Johannes_%28Jan%29_Vermeer_-_Christ_in_the_House_of_Martha_and_Mary_-_Google_Art_Project.jpg/664px-Johannes_%28Jan%29_Vermeer_-_Christ_in_the_House_of_Martha_and_Mary_-_Google_Art_Project.jpg" width="100%">
        <div class="info">
          <h2>Christ in the House of Martha and Mary</h2>
          <div class="author">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Cropped_version_of_Jan_Vermeer_van_Delft_002.jpg/431px-Cropped_version_of_Jan_Vermeer_van_Delft_002.jpg" height="50" />
            <a href="#/johannes-vermeer" class="name">Johannes Vermeer</a>
          </div>
          <ul>
            <li>
              <label>Created</label>
              1655
            </li>
            <li>
              <label>Type</label>
              Oil on canvas
            </li>
          </ul>
          <a href="#/rembrandt/the-night-watch" class="more-info">more</a>
        </div>
      </div>
    </div>

  </div>

